@import '../variables.scss';


.header-bar-wrapper{
    width: 100vw;
    height: 100px;
    background-color: $primaryBackgroundColor;
    color: $primaryTextColor;
    padding: 2rem; 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;

    #header-logo{

        .header-logo-container-long{

            h1.header-logo-long{
                font-size: 40px;
            }
            h2.header-logo-subtitle{

            }
        }


        .header-logo-container-short{

            h1.header-logo-short{
                font-size: 40px;
                transition: 1s ease-in-out;
            }

        }
    }
}